metacentrum/*
*.pyxbldc
*.dat
*.mat
.spyderproject
.spyderworkspace
debug/
result/
results/
*.pyc
*.txt
*.png
*.eps
*.pdf
test.py
*.py~
*.jpg
.Rhistory
*.bin
*.out
*_old.py
mfdfa.py
*_test.py
*.zip
*.ipynb
notebooks/*
*.h5